.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:48px ;
}

.search {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #dda15e;
    border: 1px solid #dda15e;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    display: flex;
    justify-content: center;
}

::placeholder {
    color: #230C0F;
    font-family: Bradley Hand, cursive;
}

.search:focus {
    border-color: #bb6b25;
    outline: none;
    box-shadow: 0 0 5px rgba(187, 107, 37, 0.5);
}

/* Адаптивність */
@media (max-width: 768px) {
    .search {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    .search {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 15px;
        /* Зменшений відступ */
    }
}